<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

</head>

<style>
    body{
        background-image: url("https://arctictreehousehotel.com/wp-content/uploads/2020/03/Arctic-TreeHouse-Hotel-Northern-Lights-1999x1334px.jpg");

    }
    button {
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        color: navajowhite ;
    }
    .btn {
        background-color: white;
        border: 1px solid lightblue;
    //border-radius: 1rem;
        color: lightblue;
        padding: 0.5rem;
        text-transform: lowercase;
    }
    .btn--block {
        display: block;
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .cards__item {
        display: flex;
        padding: 1rem;
    }
    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .card__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }
    .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        filter: contrast(70%);
    //filter: saturate(180%);
        overflow: hidden;
        position: relative;
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);}

    .card__image--record {
        background-image: url('https://i.pinimg.com/originals/48/d0/1f/48d01f13f7dee18f1b9bd7794e3d427e.jpg');
    }










</style>


<body>


<button class="fill">Fill In</button>
{{#houses}}
<ul class="cards">
<li class="cards__item">
    <div class="card">
        <img class="card__image card__image--record" src="{{picture}}" alt="Card image" style="width:100%">
        <div class="card__content">
            <div class="card__title"></div>
            <p class="card__text">{{amenities}}</p>
            <p class="card__text">{{city}}</p>
            <p class="card__text">{{country}}</p>
            <p class="card__text">{{description}}</p>
            <p class="card__text">{{id}}</p>
            <p class="card__text">{{noOfBeds}}</p>
            <p class="card__text">{{size}}</p>





            <button class="btn btn--block card__btn">Button</button>
        </div>
    </div>
</li>
</ul>
{{/houses}}




<script src="js/scripts.js"></script>
</body>
</html>