<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





</head>

<style>
    body{
        background-image: url("https://arctictreehousehotel.com/wp-content/uploads/2020/03/Arctic-TreeHouse-Hotel-Northern-Lights-1999x1334px.jpg");
        color: white;

    }
    button {
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        color: navajowhite;

    }
    h4{
        color: black;
    }
    p{
        color: black;
    }












</style>










<body>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">NAME</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>List all houses</h2>
            <p> </p>
            <p><a class="btn btn-secondary" href="#" role="button">Click here!</a></p>
        </div>
        <div class="col-md-4">
            <h2>Delete House</h2>
            <p> </p>
            <p><a class="btn btn-secondary" href="#" role="button">Click here!</a></p>
        </div>
        <div class="col-md-4">
            <h2>Add house</h2>
            <p></p>
            <p><a class="btn btn-secondary" href="#" role="button">Click here!</a></p>
        </div>
    </div>
    <hr>

</div>




<div class="album py-5 bg-light">

<div class="container">
        <div class="row">
            {{#houses}}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{picture}}" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">{{type}}, {{city}}, {{country}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">{{size}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {{/houses}}
        </div>
    </div>
</div>









<script src="js/scripts.js"></script>
</body>
</html>